*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    width: 100%;
    height: 800px;
    background-color: rgb(196, 183, 207);
    
}nav{
    background-color: aqua;
    position: sticky;
    top: 0;
 
}